[class*="span"] {
 margin-bottom: 20px;
 text-align: center; 
 border-radius: 5px 5px 5px 5px;
}

.page-header {
    border-bottom: 1px solid #EEEEEE;
    margin: 18px 0;
    padding-bottom: 17px;
    text-align: center;
}

.pull-right {
    float: right;
}

.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
}

.row-fluid .span2 {
  width: 20%;
  background-color: Silver;
  border-color: black;
}

.row-fluid .span3 {
  width: 20%;
  background-color: SteelBlue;
  border-color: black;
}

.row-fluid .span4 {
  width: 20%;

}

.row-fluid .span6 {
  width: 40%;
}


.row-fluid .span8 {
  width: 60%;
  background-color: Silver;
  border-color: black;
}

a.lien1 {
    color: white;
}

a.lien2 {
    color: white;
}

a.lien3 {
    color: white;
}

fieldset {
    width: 20%;
    margin: auto;
}

body {
  /*background-color: lightSlateGray;*/
  background-color: GrayText;
  color: white;
  background-image:url("../img/background.jpg");
}

legend {
  color: white;
}
