//envoie de photo
			if (isset($_POST['envoyer_tof']))
			{
					
					if ($_FILES['photo']['error'] > 0) $erreur = "Erreur lors du transfert";
				else if ($_FILES['photo']['size'] > $_POST['MAX_FILE_SIZE']) $erreur = "Le fichier est trop gros";
				else
				{
									$extensions_valides = array( 'jpg' , 'jpeg' , 'gif' , 'png' );
					//1. strrchr renvoie l'extension avec le point (« . »).
					//2. substr(chaine,1) ignore le premier caractère de chaine.
					//3. strtolower met l'extension en minuscules.
					$extension_upload = strtolower(  substr(  strrchr($_FILES['photo']['name'], '.')  ,1)  );
					if ( in_array($extension_upload,$extensions_valides) ) 						
					{
	
						$nom = "photos/{$_FILES['photo']['name']}.{$extension_upload}";
						$resultat = move_uploaded_file($_FILES['photo']['tmp_name'],$nom);
						
					
						
						//on passe a l'insertion des données dans la bdd
						// On se connecte à MySQL
						$bdd = new PDO('mysql:host=localhost;dbname=test', 'root', '');
				
						//on prépare la requete pour l'image
									$req2 = $bdd -> prepare ('INSERT INTO photos(id_bung, lien) VALUES(?, ?)');
									$req2 -> execute (array(
									$_SESSION['id_bung'],  
									$nom								
									));
					 
						$resultat2 = $req2->fetch();
					
					 
						?>
						<h2>Ajout r&eacuteussie </h2>
				
						<?php
					}
					else{ ?> <h2> Probleme avec l'extension du fichier </h2> <?php }
				}		
					
						
						
				if(isset($erreur))echo $erreur;		
						
			}












			<form method="post" action="modifbung2.php" enctype="multipart/form-data">
						 <!-- On limite le fichier à 100Ko -->
						 <input type="hidden" name="MAX_FILE_SIZE" value="200000">
						 Fichier : <input type="file" name="photo" style="background-color:white">
						 <input type="submit" name="envoyer_tof" value="Envoyer le fichier">
					</form>














					<!--PHOTO -->
			<div class=photo>

				<fieldset>
				<h3> Photos : </h3>
				
				<?php
				 // On se connecte à MySQL
					$bdd = new PDO('mysql:host=localhost;dbname=test', 'root', '');
					
					// On récupère tout le contenu de la table bugalows avec idBung
					$reponse = $bdd->query('SELECT * FROM photos WHERE id_bung=' . $id_bung );
					 
					// On affiche chaque entrée une à une
					while ($donnees = $reponse->fetch())
					{
					   
						?>
						
						<p>
						<a href="<?php echo $donnees['lien']; ?>" ><img src="<?php echo $donnees['lien']; ?>" alt="Photo de bungalow" title="Cliquez pour agrandir" style="width:400px" /></a> 
						</p>	
						
						<!-- formulaire pour le bouton reserver -->
					<form
					 id="form3" method="post" enctype="multipart/form-data" action="modifbung2.php">
					 <div class=form_cache>
					 <label for="id3">ID cache :</label>
					<input type="text" name="id_photo" id="name" value=" <?php echo $donnees['id'] ?> " />
					</div> <!--fin div caché-->
					<input type="submit" name="validate_deltof" value="Supprimer" style="background-color:#778899" style="color:white; font-weight:bold">
					 </form>
				</fieldset>	
				<?php

				}
			
				$reponse->closeCursor(); // Termine le traitement de la requête
				?>